<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="container" type="TkoUtility.ContainerSection, TkoUtility" />
  </configSections>

  <container>
    <Interfaces>

      <add interfaceName="TkoController.ITKOUserController" interfaceAssembly="TkoController.dll" concreteClass="TkoController.TKOUserController" concreteClassAssembly="TkoController.dll" />

      <add interfaceName="TkoController.ITKOUserView" interfaceAssembly="TkoController.dll" concreteClass="TkoView.TKOUserView" concreteClassAssembly="TkoView.dll" />

    </Interfaces>
  </container>

  <appSettings>
    <add key="CompanyName" value="NathansCollection" />
    <add key="ProfileName" value="NathansCollection" />
    <add key="AccUser" value="brocha" />
    <add key="AccPass" value="123" />
    <add key="ProccessOrderTimerSeconds" value="1000" />
    <add key="ShippingTimerSeconds" value="10" />
    <add key="InventoryTimerSeconds" value="1000" />
    <add key="PricingTimerSeconds" value="10000" />
    <add key="ReturnsTimerSeconds" value="10000" />
    <add key="RefundsTimerSeconds" value="10000" />
    <add key="ProductsTimerSeconds" value="10000" />
    <!--<add key="ProccessWFSOrderTimerSeconds"
         value="6000"/>
    <add key="ProccessWFSOrderSearchBackSeconds"
         value="6000"/>
    <add key="ProccessWFSOrderInitialSearchBackSeconds"
         value="6000"/>-->

    <add key="ConsumerId" value="7cd599ae-391c-4e6a-af4d-21e9ede4a921" />
    <add key="channelType" value="0f3e4dd4-0514-4346-b39d-af0e00ea066d" />
    <add key="privateKey" value="PrivateKey.cer" />
    <add key="DaysToSearch" value="7" />
    <add key="TimerInterval" value="600000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Server=.;Integrated Security=True;Database=Acclamare-2016-Dev" providerName="" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>